{% extends "base.html" %}
{% block content %}
<div class="flex-container">

    <ul>
        {% for contact in contacts %}
            <li>{{ contact.first_name }}</li>
            <li>{{ contact.last_name }}</li>
            <li>0{{ contact.phone_no }}</li>
            <li>{{ contact.email }}</li>
            <li>{{ contact.github }}</li>
            <li>{{ contact.linkedin }}</li>
            <li>{{ contact.address }}</li>
            <li>{{ contact.zip_code }}</li>
            <li>{{ contact.city }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}